<p>
  <%= f.label :name %><br />
  <%= f.text_field :name, :value => f.object.name || params[:name] %>
</p>
<p>
  <%= f.label :key, "Mail server" %> <span class="hint">POP3 server, e.g. pop.mailserver.com</span><br />
  <%= f.text_field :key, :value => f.object.key || params[:key] %>
</p>
<p>
  <%= f.label :icon, "Login button" %>
  <% if params[:icon] %><span class="hint">it is really better to download, resize &amp; host this yourself</span><% end %><br />
  <%= f.text_field :icon, :value => f.object.icon || params[:icon] %>
</p>
<%= f.hidden_field :callback_url, :value => callback_url_for(f.object) %>

<div class="instructions">
  <p>
    If you do not wish to use the site embed (aka multiple-services selector),
    you may redirect your user to this authentication service directly
    using the URL below:
  </p>
  <p>
    <code title='triple-click to select the full url'><%=h url_for(:controller => 'loginsane', :action => 'pop3_callback', :id => @service.id, :only_path => false) %></code>
  </p>
</div>
