<%= bread_crumb ["All sites", sites_path] %>

<h1>Listing sites</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Key</th>
  </tr>

<% @sites.each_with_index do |site, index| %>
  <tr>
    <td><%= link_to h(site.name), site %></td>
    <td><%=h site.key %></td>
    <td><%= link_to 'Edit', edit_site_path(site) unless index == 0 %></td>
    <td><%= link_to 'Destroy', site, :confirm => 'Are you sure?', :method => :delete unless index == 0 %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New site', new_site_path %>
